body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: black;
    background-image: url('AI-wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
h1 {
    color: white;
    text-align: center;
}

a:hover {
    color: violet;
    cursor: pointer;
    text-decoration: none;
}

a:active {
    color: turquoise;
}

a {
    color: white;
    text-align: center;
    text-decoration: none;
}

